@import "src/variables";

ul {
  margin: 0;
  list-style: none;
  line-height: 2rem;
  padding-left: 2rem;
  font-family: Arial;

  li {
    font-size: 16px;
    position: relative;

    &:before {
      position: absolute;
      left: -15px;
      top: 0px;
      content: '';
      display: block;
      border-left: 1px solid #ddd;
      height: 1em;
      border-bottom: 1px solid #ddd;
      width: 10px;
    }

    &:after {
      position: absolute;
      left: -15px;
      bottom: -7px;
      content: '';
      display: block;
      border-left: 1px solid #ddd;
      height: 100%;
    }

    &.root {
      margin: 0px 0px 0px -20px;

      &:before {
        display: none;
      }

      &:after {
        display: none;
      }


    }


    &:last-child {
      &:after {
        display: none
      }
    }
  }
}


.button-show-on-hover {
  button {
    display: none;
  }

  &:hover {
    .item-container {
      border: 1px solid;
    }

    button {
      display: inline-block;
    }
  }
}

.item-container {
  padding: 5px;
  display: flex;
  width: fit-content;
}
